<!doctype html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>
</head>
<body>
    <p><b>Hej {{ name }}!</b></p>
    <p>Vi har mottagit din beställning:<br>
        {% for seed in seeds %}
            Frö = {{ seed }}<br>
        {% endfor %}
    </p>
    <p>Sammanlagt {{ total }} fröer beställda</p>
    <p>Automatisk påfyllning: {{ auto_fill }}<br>
        Max fröpåsar (endast vid efterbeställning): {{ fill_up }}
    </p>

    <p>Kontaktuppgifter<br>
        Telefon: {{ phone }}<br>
        E-postadress: {{ email }}<br>
        Adress: {{ address }}
    </p>

    <p>Vid ordinarie beställning: betalning INNAN första fördelning, exp avgift {{ fee }} kronor.<br>
        Betalning till STA-Fröförmedling bankgiro 418-4446<br>
        Betalning från utlandet: SEPA/EU-betalning till BIC: HANDSESS, IBAN: SE74 6000 0000 0005 6008 8752.<br>
        Kontots innehavare är STA Fröförmedling.<br>
        Vid efterbeställning: inbetalningskort kommer med fröerna.</p>
    <p>Tack för din beställning!</p>
</body>
</html>