<!doctype html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="css/b3.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">
        function validate(thisform){
            with (thisform) {
                if (Medlemsnummer.value == null || Medlemsnummer.value == '') {
                    Medlemsnummer.focus();
                    alert('Skriv in medlemsnummer');
                    return false;
                } else if (Namn.value == null || Namn.value == '') {
                    Namn.focus();
                    alert('Skriv in namn');
                    return false;
                } else if ((Telefon.value == null || Telefon.value == '') && (Epost.value == null || Epost.value == '')) {
                    Telefon.focus();
                    alert('Skriv in telefonnummer eller epostadress');
                    return false;
                } else if ((Val_1.value == null || Val_1.value == '') && (Val_2.value == null || Val_2.value == '') && (Val_3.value == null || Val_3.value == '') && (Val_4.value == null || Val_4.value == '') && (Val_5.value == null || Val_5.value == '') && (Val_6.value == null || Val_6.value == '')) {
                    Val_1.focus();
                    alert('Skriv in åtminstone ett frönummer!');
                    return false;
                } else if (alt_addr.checked == true) {
                    if (Gata.value == null || Gata.value == '') {
                        Gata.focus();
                        alert('Skriv in adress');
                        return false;
                    } else if (Postnr.value == null || Postnr.value == '') {
                        Postnr.focus();
                        alert('Skriv in postnummer');
                        return false;
                    } else if (Ort.value == null || Ort.value == '') {
                        Ort.focus();
                        alert('Skriv in postort');
                        return false;
                    }
                } else {
                    return true;
                }
            }
        }
    </script>
</head>

<body>
<div id="sida">
    <!-- SIDANS INNEHÅLL -->
    <div id="innehall">
        <div class="vspalt">
            <div class="logo">
                <a href="/index.php"><img src="{{ logo_image }}" alt="föreningens logga" width="90" height="79"></a>
            </div>
            <!-- vänsterspalten -->
            <h2>{{ header }}</h2>
            <h3>Endast f&ouml;r medlemmar</h3>
            <p>Fröbeställningen är öppen {{ start_date }} till och med {{ end_date }}<br>
                Beställning från restlistan är öppen {{ second_start }} till och med {{ second_end }}
            </p>
            {% if ordering == 0 %}
                <p class="error">Det går inte att beställa nu!</p>
            {%  endif %}
            <form action="seedorder_response.php" method="POST" onsubmit="return validate(this);">
                <input type="hidden" name="ordering" value="{{ ordering }}" />
                <table>
                    <tr><td colspan="2">&nbsp;</td></tr>
                    <tr>
                        <td colspan="2"><span class="fet">Uppgifter om best&auml;llaren</span></td>
                    </tr>
                    <tr>
                        <td class="kvartsida"><label for="Medlemsnummer">Medlemsnr</label>:</td>
                        <td><input type="text" name="Medlemsnummer" id="Medlemsnummer" size="5"></td>
                    </tr>
                    <tr>
                        <td class="kvartsida"><label for="Namn">Namn</label>:</td>
                        <td><input type="text" name="Namn" id="Namn" size="45"></td>
                    </tr>
                    <tr>
                        <td class="kvartsida"><label for="Telefon">Telefon</label>:</td>
                        <td><input type="text" name="Telefon" id="Telefon" size="15"></td>
                    </tr>
                    <tr>
                        <td class="kvartsida"><label for="Epost">E-post</label>: </td>
                        <td><input type="text" name="Epost" id="Epost" size="45"></td>
                    </tr>
                    <tr><td colspan="2">&nbsp;</td></tr>
                    <tr>
                        <td colspan="2">Normalt skickas fr&ouml;erna till adress enligt medlemsregistret.
                            Om du vill ha dem till en <span class="notable">ANNAN adress</span>, ange den här nedan.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><input name="alt_addr" id="alt_addr" type="CheckBox" onClick="javascript:if(this.checked==true){document.getElementById('addressgroup').style.display=''}else{document.getElementById('addressgroup').style.display='none'};"> <label for="alt_addr">Annan adress, kryssa i rutan och ange</label></td>
                    </tr>
                </table>
                <div id="addressgroup" style="display:none;">
                    <table>
                        <tr>
                            <td class="kvartsida"><label for="Gata">Gata</label>:</td>
                            <td><input type="text" name="Gata" id="Gata" size="45"></td>
                        </tr>
                        <tr>
                            <td class="kvartsida"><label for="Postnr">Postnr</label>:</td>
                            <td><input type="text" name="Postnr" id="Postnr" size="6"></td>
                        </tr>
                        <tr>
                            <td class="kvartsida"><label for="Ort">Ort</label>:</td>
                            <td><input type="text" name="Ort" id="Ort" size="45"></td>
                        </tr>
                    </table>
                </div>
                <table>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td><input type="CheckBox" name="Auto_fyll" id="Auto_fyll" value="ja"> <label for="Auto_fyll">Jag &ouml;nskar automatisk p&aring;fyllning till s&aring; m&aring;nga jag &auml;r ber&auml;ttigad till</label></td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td class="kvartsida">Jag vill max ha:<br><span class="notable">OBS!</span> Endast vid efterbest.</td>
                        <td><input type="text" name="Fyll_upp" id="Fyll_upp" size="5"> st <label for="Fyll_upp">fr&ouml;p&aring;sar</label> (Ange med siffror 1-100)</td>
                    </tr>
                </table>
                <table>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td>
                            <span class="fet">Fr&ouml;best&auml;llning</span>
                            <span>(Skriv ett fr&ouml;nummer per ruta i angel&auml;genhetsordning)</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            v Börja här<br>
                            {% for i in 1..12 %}
                                <input type="text" name="Val_{{ i }}" size="3">
                            {% endfor %}&nbsp;&nbsp;12
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% for i in 13..24 %}
                                <input type="text" name="Val_{{ i }}" size="3">
                            {% endfor %}&nbsp;&nbsp;24
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% for i in 25..36 %}
                                <input type="text" name="Val_{{ i }}" size="3">
                            {% endfor %}&nbsp;&nbsp;36
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% for i in 37..48 %}
                                <input type="text" name="Val_{{ i }}" size="3">
                            {% endfor %}&nbsp;&nbsp;48
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% for i in 49..60 %}
                                <input type="text" name="Val_{{ i }}" size="3">
                            {% endfor %}&nbsp;&nbsp;60
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% for i in 61..72 %}
                                <input type="text" name="Val_{{ i }}" size="3">
                            {% endfor %}&nbsp;&nbsp;72
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% for i in 73..84 %}
                                <input type="text" name="Val_{{ i }}" size="3">
                            {% endfor %}&nbsp;&nbsp;84
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% for i in 85..96 %}
                                <input type="text" name="Val_{{ i }}" size="3">
                            {% endfor %}&nbsp;&nbsp;96
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% for i in 97..108 %}
                                <input type="text" name="Val_{{ i }}" size="3">
                            {% endfor %}&nbsp;&nbsp;108
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td><input type="submit" value="Skicka best&auml;llning" name="Skicka"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div> <!-- sidans slut -->
</body>
</html>
